.footer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 56px 0 58px;
  @include mediaDesktop($w1024) {
    padding: 96px 0 78px;
    flex-flow: row nowrap;
  }

  .container {
    @include mediaDesktop($w1440) {
      padding: 0 53px;
    }
  }

  &__left-content, &__right-content {
    width: 100%;
    @include mediaDesktop($w1024) {
      width: 46%;
    }
    @include mediaDesktop($w1280) {
      width: unset;
    }
  }

  &__left-content {
    margin-bottom: 40px;
    @include mediaDesktop($w1024) {
      margin-bottom: 0;
    }
  }

  &__ft-title {
    color: #9cbfd3;
    font-size: 12px;
    margin-bottom: 27px;
    text-transform: uppercase;
    letter-spacing: 3px;
    transform: translateY(100%);
    opacity: 0;
    transition: all ease-in-out .4s;
    &.animate {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &__info-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    font-family: "ProbaPro-Regular", sans-serif;
    transform: translateY(50%);
    opacity: 0;
    transition: all ease-in-out .4s;

    @include mediaDesktop($w568) {
      flex-flow: row nowrap;
      justify-content: space-between;
    }
    @include mediaDesktop($w768) {
      justify-content: flex-start;
    }
    @include mediaDesktop($w1024) {
      flex-flow: row nowrap;
    }

    &.animate {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &__adress-list {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;

    // Класс для того чтобы задать отступ списку
    &.margin {
      margin-bottom: 12px;
      @include mediaDesktop($w768) {
        margin-right: 30px;
      }
      @include mediaDesktop($w1280) {
        margin-right: 47px;
      }
    }
  }

  &__adress-item {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    margin-bottom: 12px;
    font-size: 14px;
    color: $white;
    cursor: pointer;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      left: 0;
      bottom: -3px;
      background: $white;
      transform-origin: right center;
      transform: scaleX(0);
      transition: transform 0.6s cubic-bezier(0.4, 0, 0, 1);
    }

    &:hover {
      &:after {
        transform: scaleX(1);
        transform-origin: center left;
      }
    }
    .adress-static {
      color: #9cbfd3;
      margin-right: 7px;
    }
  }
}