.header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  z-index: 1;
  position: relative;
  @include mediaDesktop($w1280) {
    padding: 20px 50px;
  }
  @include mediaDesktop($w1440) {
    padding: 40px 146px;
  }
  &__logo {
    img {
      width: 70%;
      @include mediaDesktop($w1280) {
        width: auto;
      }
    }
  }
}