.main-wrapper {
  display: flex;
  flex-flow: column nowrap;
  position: relative;

  &__content-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 44px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    position: relative;
    @include mediaDesktop($w1024) {
      padding-bottom: 94px;
    }

    .container {
      position: relative;
      z-index: 3;
    }

    &:before {
      content: none;
      width: 100%;
      height: 100%;
      background-image: url('../assets/images/gif.png');
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      @include mediaDesktop($w1024) {
        right: 45px;
        top: -58px;
        left: unset;
        width: 61.5%;
      }
    }
  }

  &__description {
    margin: 65% 0 0;
    width: 100%;
    text-align: center;
    @include mediaDesktop($w768) {
      text-align: left;
    }
    @include mediaDesktop($w1024) {
      margin: 82px 0 0;
    }
  }

  &__gif-container {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 20px;
    width: 80%;
    @include mediaDesktop($w425) {
      right: 30px;
    }
    @include mediaDesktop($w1024) {
      right: 45px;
      top: -58px;
      left: unset;
      width: 61.5%;
    }

    &.loaded {
      .main-wrapper__gif {
        display: none;
        @include mediaDesktop(801px) {
          display: block;
        }
      }
      .main-wrapper__gif-img {
        display: block;
        @include mediaDesktop(801px) {
          display: none;
        }
      }
    }
  }

  &__gif {
    display: none;
  }

  &__slogan {
    margin-bottom: 50px;
    font-size: 22px;
    color: $white;
    transform: translateY(100%);
    opacity: 0;
    transition: all ease-in-out .4s;
    @include mediaDesktop($w568) {
      margin-bottom: 90px;
      font-size: 30px;
    }

    &.animate {
      opacity: 1;
      transform: translateY(0);
    }

    p {
      &:first-child {
        margin-bottom: 10px;
      }

      &:last-child {
        font-family: "ProbaPro-Regular", sans-serif;
        font-size: 18px;
        color: #d3e4fa;
        @include mediaDesktop($w1024) {
          font-size: 28px;
        }
      }
    }
  }

  &__main-title {
    margin-bottom: 60px;
    font-size: 22px;
    line-height: 1.5;
    transform: translateY(100%);
    opacity: 0;
    transition: all ease-in-out .4s;
    @include mediaDesktop($w568) {
      font-size: 35px;
    }
    @include mediaDesktop($w1024) {
      margin-bottom: 110px;
      font-size: 44px;
    }

    &.animate {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &__recommend-block {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    @include mediaDesktop($w768) {
      align-items: flex-start;
    }
  }

  &__recommend-title {
    margin-bottom: 42px;
    font-size: 10px;
    color: rgba(255,255,255,.5);
    text-transform: uppercase;
    letter-spacing: 3px;
    transform: translateY(80%);
    opacity: 0;
    transition: all ease-in-out .4s;
    @include mediaDesktop($w568) {
      font-size: 12px;
    }

    &.animate {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &__recommend-logos {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    transform: translateY(80%);
    opacity: 0;
    transition: all ease-in-out .4s;
    @include mediaDesktop($w768) {
      justify-content: flex-start;
    }

    &.animate {
      opacity: 1;
      transform: translateY(0);
    }

    .icon {
      margin: 0 15px 0 0;
      @include mediaDesktop($w568) {
        margin: 0 70px 0 0;
      }
      &:last-child {
        margin-right: 0;
      }

      &__igt {
        width: 88px;
        height: 82px;
        background-image: url('../assets/images/igt.png');
      }
      &__gsm {
        width: 135px;
        height: 92px;
        background-image: url('../assets/images/gsm.png');
      }
      &__handelot {
        width: 105px;
        height: 84px;
        background-image: url('../assets/images/handelot.png');
      }
    }
  }

  &__partners-container {
    padding: 81px 0 69px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    img {
      max-width: unset;
    }
  }

  &__partners-list {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
  }

  &__list-item {
    opacity: 0;
    transition: all ease-in-out .4s;
    margin-right: 35px;
    margin-bottom: 17px;

    &.animate {
      opacity: 1;
    }

    .icon {
      &__canon {
        width: 83px;
        height: 18px;
        background-image: url("../assets/images/partners/Canon.svg");
      }
      &__sony{
        width: 83px;
        height: 15px;
        background-image: url("../assets/images/partners/Sony.svg");
      }
      &__samsung {
        width: 101px;
        height: 34px;
        background-image: url("../assets/images/partners/Samsung.svg");
      }
      &__sigma {
        width: 89px;
        height: 20px;
        background-image: url("../assets/images/partners/Sigma.svg");
      }
      &__longhi {
        width: 92px;
        height: 31px;
        background-image: url("../assets/images/partners/Delonghi.svg");
      }
      &__krups {
        width: 79px;
        height: 18px;
        background-image: url("../assets/images/partners/Krups.svg");
      }
      &__garmin {
        width: 113px;
        height: 31px;
        background-image: url("../assets/images/partners/Garmin.svg");
      }
      &__jbl {
        width: 52px;
        height: 29px;
        background-image: url("../assets/images/partners/JBL.svg");
      }
      &__pioneer {
        width: 119px;
        height: 18px;
        background-image: url("../assets/images/partners/Pioneer.svg");
      }
      &__apple {
        width: 24px;
        height: 30px;
        background-image: url("../assets/images/partners/Apple.svg");
      }
      &__wpool {
        width: 100px;
        height: 44px;
        background-image: url("../assets/images/partners/Whirlpool.svg");
      }
      &__philips {
        width: 97px;
        height: 19px;
        background-image: url("../assets/images/partners/Philips.svg");
      }
      &__nikon {
        width: 74px;
        height: 22px;
        background-image: url("../assets/images/partners/Nikon.svg");
      }
      &__lg {
        width: 65px;
        height: 29px;
        background-image: url("../assets/images/partners/LG.svg");
      }
      &__panasonic {
        width: 112px;
        height: 18px;
        background-image: url("../assets/images/partners/Panasonic.svg");
      }
      &__braun {
        width: 87px;
        height: 32px;
        background-image: url("../assets/images/partners/Braun.svg");
      }
      &__dyson {
        width: 76px;
        height: 29px;
        background-image: url("../assets/images/partners/Dyson.svg");
      }
      &__kitchen {
        width: 144px;
        height: 14px;
        background-image: url("../assets/images/partners/Kithen.svg");
      }
      &__beats {
        width: 33px;
        height: 33px;
        background-image: url("../assets/images/partners/Beats.svg");
      }
      &__remington {
        width: 129px;
        height: 28px;
        background-image: url("../assets/images/partners/Remington.svg");
      }
      &__sennheiser {
        width: 159px;
        height: 22px;
        background-image: url("../assets/images/partners/Sennheiser.svg");
      }
      &__nintendo {
        width: 91px;
        height: 23px;
        background-image: url("../assets/images/partners/Nintendo.svg");
      }
      &__moulinex {
        width: 139px;
        height: 25px;
        background-image: url("../assets/images/partners/Moulinex.svg");
      }
    }
  }

  &__events-container {
    display: flex;
    flex-flow: column-reverse nowrap;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 53px 0 50px;
    @include mediaDesktop($w1280) {
      padding: 93px 0 90px;
      flex-flow: row nowrap;
    }
  }

  &__events-desc {
    width: 100%;
    font-size: 22px;
    color: $white;
    @include mediaDesktop($w1024) {
      width: 92%;
      font-size: 30px;
    }
  }

  &__date {
    margin-bottom: 17px;
    transform: translateY(80%);
    opacity: 0;
    transition: all ease-in-out .4s;
    &.animate {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &__title {
    color: $black;
    font-size: 27px;
    margin-bottom: 25px;
    transform: translateY(80%);
    opacity: 0;
    transition: all ease-in-out .4s;
    @include mediaDesktop($w1024) {
      font-size: 44px;
    }

    &.animate {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &__subtitle {
    transform: translateY(80%);
    opacity: 0;
    transition: all ease .4s;
    &.animate {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &__events-img {
    margin-bottom: 40px;
    opacity: 0;
    transition: all ease-in-out .4s;
    width: 100%;
    @include mediaDesktop($w1280) {
      width: 40%;
      margin-bottom: 0;
    }

    img {
      width: 100%;
      max-height: 185px;
      margin-left: -10%; //hotfix only for this img

      @include mediaDesktop($w1280) {
        margin-right: 0;
      }
    }

    &.animate {
      opacity: 1;
    }
  }
}