footer.footer
    .container
        .footer__left-content
            .footer__ft-title.element
                p TECHENJOY + GmbH
            .footer__info-container.element
                ul.footer__adress-list.margin
                    li.footer__adress-item
                        span.adress-static
                            | Аddress:
                        span.dress-info
                            | Akademiestr. 24, 76133 Karlsruhe, Germany
                    li.footer__adress-item
                        span.adress-static
                            | Director:
                        span.dress-info
                            | Lion Lazerson
                    li.footer__adress-item
                        span.adress-static
                            | EU VAT ID:
                        span.dress-info
                            | DE330118158
                    li.footer__adress-item
                        span.adress-static
                            | Amtsgericht Mannheim:
                        span.dress-info
                            | HRB 736020
                ul.footer__adress-list
                    li.footer__adress-item
                        a(href="mailto:info@techenjoy.eu")
                            span.adress-static
                                | E-Mail:
                            span.dress-info
                                | info@techenjoy.eu
                    li.footer__adress-item
                        span.adress-static
                            | WhatsApp:
                        span.dress-info
                            | +4917655626277
                    li.footer__adress-item
                        span.adress-static
                            | Skype:
                        span.dress-info
                            | info@techenjoy.de

        .footer__right-content
            .footer__ft-title.element
                p Techenjoy UG (haftungsbeschränkt)
            .footer__info-container.element
                ul.footer__adress-list.margin
                    li.footer__adress-item
                        span.adress-static
                            | Аddress:
                        span.dress-info
                            | Akademiestr. 24, 76133 Karlsruhe, Germany
                    li.footer__adress-item
                        span.adress-static
                            | Director:
                        span.dress-info
                            | Lion Lazerson
                    li.footer__adress-item
                        span.adress-static
                            | EU VAT ID:
                        span.dress-info
                            | DE330118158
                    li.footer__adress-item
                        span.adress-static
                            | Amtsgericht Mannheim:
                        span.dress-info
                            | HRB 736020
                ul.footer__adress-list
                    li.footer__adress-item
                        a(href="mailto:info@techenjoy.eu")
                            span.adress-static
                                | E-Mail:
                            span.dress-info
                                | info@techenjoy.eu
                    li.footer__adress-item
                        span.adress-static
                            | WhatsApp:
                        span.dress-info
                            | +4917655626277
                    li.footer__adress-item
                        span.adress-static
                            | Skype:
                        span.dress-info
                            | info@techenjoy.de