@import "~normalize.css";
@import "utils/vars";
@import "utils/fonts.css";

// Pages
@import "modules/index-page";
@import "modules/header";
@import "modules/footer";

$border: 1px solid #ccc;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "TransgenderGrotesque-Book", sans-serif;
  line-height: 1.2;
  background-color: $l-blue;

  &::-webkit-scrollbar {
    width: .75em;
    display: none;
  }
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }
  &::-webkit-scrollbar-thumb {
    background-color: #9cbfd3;
    outline: 1px solid slategrey;
  }

  &.loaded {
    .wrapper {
      opacity: 1;
      transition: opacity .3s ease-out;
    }

    .load {
      opacity: 0;
      transition: opacity .3s cubic-bezier(0.4, 0, 0, 1);
    }
  }
}

img {
  width: auto;
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  position: relative;
  opacity: 0;

  &:before, &:after {
    content: '';
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    width: 1px;
    background-color: rgba(255, 255, 255, 0.2);
    //background-color: red;
  }

  &:before {
    left: 33%;
    @include mediaDesktop($w1920) {
      left: 36%;
    }
  }
  &:after {
    right: 33%;
    @include mediaDesktop($w1920) {
      right: 36%;
    }
  }

}

.container {
  display: inherit;
  flex-flow: inherit;
  align-items: inherit;
  justify-content: inherit;
  width: 100%;
  margin: 0 auto;
  max-width: 100%;
  z-index: 1;
  position: relative;
  padding: 0 15px;
  @include mediaDesktop($w568) {
    padding: 0 20px;
  }
  @include mediaDesktop($w768) {
    padding: 0 35px;
  }
  @include mediaDesktop($w1024) {
    padding: 0 43px;
  }
  @include mediaDesktop($w1280) {
    max-width: 1200px;
  }
  @include mediaDesktop($w1440) {
    max-width: 1400px;
  }
  @include mediaDesktop($w1680) {
    max-width: 1600px;
  }
}

.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.red-line {
  position: relative;

  &:before {
    content: none;
    width: 45px;
    height: 120px;
    position: absolute;
    left: -54px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    background-image: url('../assets/images/glow-line.png');
    background-repeat: no-repeat;
    @include mediaDesktop($w1280) {
      content: '';
    }
  }
}

.absolute-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;

  img {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
  }
}

.load {
  position:fixed;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  /*change these sizes to fit into your project*/
  width:100px;
  height:100px;

  hr {
    border:0;
    margin:0;
    width:40%;
    height:40%;
    position:absolute;
    border-radius:50%;
    animation:spin 2s ease infinite;
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
  }
}

.load :first-child {
  background: #D70240;
  animation-delay: -1.5s;
}
.load :nth-child(2) {
  background: #154B8B;
  animation-delay: -1s;
}
.load :nth-child(3) {
  background: $black;
  animation-delay: -0.5s;
}
.load :last-child {
  background: #00B3F8;
}

@keyframes spin{
  0%,100%{transform:translate(0)}
  25%{transform:translate(160%)}
  50%{transform:translate(160%, 160%)}
  75%{transform:translate(0, 160%)}
}