extends template/main

block variables
    - var title = 'TechEnjoy';
    - var description = 'description Webpack + pug';
    - var pageClass = 'index-page';

block content

    section.main-wrapper
        .main-wrapper__content-container
            .container
                .main-wrapper__description
                    .main-wrapper__slogan.element
                        p Under reconstruction!
                        p We will be online again from mid-August
                    .main-wrapper__main-title.red-line.element
                        p We are your reliable <br /> partner for major brand <br /> consumer electronics!
                    .main-wrapper__recommend-block
                        .main-wrapper__recommend-title.element
                            p We are verified member of:
                        .main-wrapper__recommend-logos.element
                            i.icon.icon__igt
                            i.icon.icon__gsm
                            i.icon.icon__handelot
            .main-wrapper__gif-container
                img(src="./assets/images/gif.png").main-wrapper__gif-img
                img(src="./assets/gif/robot.gif").main-wrapper__gif
        .main-wrapper__partners-container
            .container
                ul.main-wrapper__partners-list
                    li.main-wrapper__list-item.element
                        i.icon.icon__canon
                    li.main-wrapper__list-item.element
                        i.icon.icon__sony
                    li.main-wrapper__list-item.element
                        i.icon.icon__samsung
                    li.main-wrapper__list-item.element
                        i.icon.icon__sigma
                    li.main-wrapper__list-item.element
                        i.icon.icon__longhi
                    li.main-wrapper__list-item.element
                        i.icon.icon__krups
                    li.main-wrapper__list-item.element
                        i.icon.icon__garmin
                    li.main-wrapper__list-item.element
                        i.icon.icon__jbl
                    li.main-wrapper__list-item.element
                        i.icon.icon__pioneer
                    li.main-wrapper__list-item.element
                        i.icon.icon__apple
                    li.main-wrapper__list-item.element
                        i.icon.icon__wpool
                    li.main-wrapper__list-item.element
                        i.icon.icon__philips
                    li.main-wrapper__list-item.element
                        i.icon.icon__nikon
                    li.main-wrapper__list-item.element
                        i.icon.icon__lg
                    li.main-wrapper__list-item.element
                        i.icon.icon__panasonic
                    li.main-wrapper__list-item.element
                        i.icon.icon__braun
                    li.main-wrapper__list-item.element
                        i.icon.icon__dyson
                    li.main-wrapper__list-item.element
                        i.icon.icon__kitchen
                    li.main-wrapper__list-item.element
                        i.icon.icon__beats
                    li.main-wrapper__list-item.element
                        i.icon.icon__remington
                    li.main-wrapper__list-item.element
                        i.icon.icon__sennheiser
                    li.main-wrapper__list-item.element
                        i.icon.icon__nintendo
                    li.main-wrapper__list-item.element
                        i.icon.icon__moulinex


        .main-wrapper__events-container
            .container
                .main-wrapper__events-desc.red-line
                    .main-wrapper__date.element
                        | 04 - 06 September 2020
                    .main-wrapper__title.element.element
                        | We will attend on the IFA in Berlin!
                    .main-wrapper__subtitle.element
                        | Our stand: RESELLER PARK - HALL 2.1 - BOOTH NO. 53
                .main-wrapper__events-img.element
                    img(src="./assets/images/IFA.png")

