@font-face {
    font-family: 'TransgenderGrotesque-Book';
    src: url('../../assets/fonts/TransgenderGrotesque-Book.eot');
    src: url('../../assets/fonts/TransgenderGrotesque-Book.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/TransgenderGrotesque-Book.woff2') format('woff2'),
    url('../../assets/fonts/TransgenderGrotesque-Book.woff') format('woff'),
    url('../../assets/fonts/TransgenderGrotesque-Book.ttf') format('truetype'),
    url("../../assets/fonts/TransgenderGrotesque-Book.otf") format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ProbaPro-Regular';
    src: url('../../assets/fonts/ProbaPro-Regular.eot');
    src: url('../../assets/fonts/ProbaPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/ProbaPro-Regular.woff2') format('woff2'),
    url('../../assets/fonts/ProbaPro-Regular.woff') format('woff'),
    url('../../assets/fonts/ProbaPro-Regular.ttf') format('truetype'),
    url("../../assets/fonts/ProbaPro-Regular.otf") format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}