block variables

doctype html
html(lang='en')
    head
        meta(charset="utf-8")
        title #{title}
        meta(name="description", content=description)
        meta(name="viewport" content="width=device-width,initial-scale=1")
        meta(name="keywords" content="")
        link(rel="icon" href="assets/favicon.ico" type="image/ico")
        block head

    body(class=pageClass)
        .wrapper
            include ../includes/header

            .content
                block content

            .absolute-bg
                img(src="./assets/images/bg.png").absolute-bg__img

            include ../includes/footer
        .load
            hr
            hr
            hr
            hr
        block script
